@import url("https://fonts.gstatic.com/s/raleway/v18/1Ptug8zYS_SKggPNyCkIT5lu.woff2");
/*

// X-Small devices (portrait phones, less than 576px)
@media (max-width:$phone ) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: $landscape) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: $tablets) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: $desktop) { ... }

// X-Large devices (large desktops, less than 1400px)
@media (max-width: $Extra-large) { ... }

*/
/*Start Loading overlay*/
.overlayloading {
  z-index: 9999999;
  background-color: #c4122e;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.overlayloading .spinner {
  margin: 290px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.lo {
  color: #FFF;
}

.spinner > div {
  background-color: #fff;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

/*End Loading overlay*/
body {
  font-family: "Raleway";
}

nav {
  background-color: #c4122e;
}

nav .navbar-toggler {
  background-color: #c4122e;
  color: #fff;
  outline: none;
}

nav .navbar-toggler .navbar-toggler-icon {
  background-image: url("../../../images/PngItem_302546.png");
  background-size: cover;
}

nav .navbar-brand {
  color: #fff;
  font-size: 30px;
  font-family: cursive;
  letter-spacing: -2.9px;
  font-weight: bolder;
}

@media (max-width: 767.98px) {
  .navbar-nav {
    margin-bottom: -20px;
  }
}

@media (max-width: 575.98px) {
  .navbar-nav {
    margin-bottom: -20px;
  }
}

@media (max-width: 767.98px) {
  .navbar-nav .nav-link {
    padding-left: 15px;
    width: 140px;
  }
}

.navbar-nav a {
  color: #fff;
  font-size: 16.5px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 2px;
  position: relative;
}

@media (max-width: 767.98px) {
  .navbar-nav a {
    display: block;
    width: 120px;
    padding: 5px;
  }
}

@media (max-width: 575.98px) {
  .navbar-nav a {
    display: block;
    width: 120px;
    padding: 5px;
  }
}

@media (max-width: 575.98px) {
  .navbar-nav .active:before {
    content: "";
    display: none;
  }
}

@media (max-width: 991.98px) {
  .navbar-nav .active:before {
    content: "";
    display: none;
  }
}

@media (max-width: 1199.98px) {
  .navbar-nav .active:before {
    content: "";
    background-color: #a0a0a0;
    position: absolute;
    left: 2px;
    bottom: 0px;
    height: 4px;
    -webkit-transition: height 0.3s ease;
    transition: height 0.3s ease;
    z-index: 3;
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 1399.98px) {
  .navbar-nav .active:before {
    content: "";
    background-color: #a0a0a0;
    position: absolute;
    left: 2px;
    bottom: 0px;
    height: 4px;
    -webkit-transition: height 0.3s ease;
    transition: height 0.3s ease;
    z-index: 3;
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 991.98px) {
  .fa-user {
    position: relative;
    top: -43px;
  }
}

@media (max-width: 767.98px) {
  .fa-user {
    position: relative;
    top: -37px;
  }
}

@media (max-width: 575.98px) {
  .fa-user {
    position: relative;
    top: -33px;
    left: 2px;
  }
}

.fa-lock {
  margin-left: 75px;
  margin-right: -18px;
  margin-top: 2px;
}

@media (max-width: 991.98px) {
  .fa-lock {
    margin-left: 50px;
  }
}

@media (max-width: 767.98px) {
  .fa-lock {
    margin-left: 54px;
    margin-right: -18px;
    margin-top: 0px;
    margin-left: 30px;
  }
}

@media (max-width: 575.98px) {
  .fa-lock {
    position: relative;
    left: 3px;
    top: 4px;
    padding: 0px;
    margin-left: 30px;
  }
}

footer {
  width: 100%;
  background-color: #c4122e;
  margin-top: 50px;
  padding-top: 15px;
  color: #fff;
}

@media (max-width: 991.98px) {
  footer {
    margin-top: 85px;
  }
}

@media (max-width: 767.98px) {
  footer {
    margin-top: 0px;
  }
}

footer h3 {
  font-weight: bold;
}

@media (max-width: 991.98px) {
  footer h3 {
    font-size: 26px;
  }
}

@media (max-width: 767.98px) {
  footer h3 {
    font-size: 24px;
  }
}

@media (max-width: 575.98px) {
  footer h3 {
    font-size: 20px;
  }
}

@media (max-width: 767.98px) {
  footer .Featured-Links,
  footer .support {
    margin-top: 10px;
  }
}

@media (max-width: 575.98px) {
  footer .Featured-Links,
  footer .support {
    margin-top: 10px;
  }
}

footer .social-icons a {
  background-color: #c4122e;
  border-radius: 50%;
  display: inline-block;
  width: 50px;
  height: 50px;
  color: #fff;
  margin-left: 4px;
  padding-top: 9px;
  opacity: 0.7;
  -webkit-transition: color 0.1s, background-color 0.4s, opacity 1s;
  transition: color 0.1s, background-color 0.4s, opacity 1s;
}

@media (max-width: 991.98px) {
  footer .social-icons a {
    width: 40px;
    height: 40px;
    padding-top: 7.7px;
  }
}

footer .social-icons a svg {
  font-size: 2em;
}

@media (max-width: 991.98px) {
  footer .social-icons a svg {
    font-size: 1.5em;
  }
}

footer .social-icons a:hover {
  opacity: 1;
}

footer .social-icons .twitter:hover {
  background-color: #1da1f2;
}

footer .social-icons .facebook:hover {
  background-color: #3c5a99;
}

footer .social-icons .instagram:hover,
footer .social-icons .youtube:hover,
footer .social-icons .google:hover {
  background-color: #fff;
}

footer .social-icons .instagram:hover .fa-instagram,
footer .social-icons .instagram:hover .fa-youtube,
footer .social-icons .instagram:hover .fa-google-plus-g,
footer .social-icons .youtube:hover .fa-instagram,
footer .social-icons .youtube:hover .fa-youtube,
footer .social-icons .youtube:hover .fa-google-plus-g,
footer .social-icons .google:hover .fa-instagram,
footer .social-icons .google:hover .fa-youtube,
footer .social-icons .google:hover .fa-google-plus-g {
  color: #fb000f;
}

footer .Featured-Links {
  color: #fff;
}

footer .Featured-Links a {
  color: #fff;
  font-weight: bold;
  opacity: 0.7;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 16px;
}

@media (max-width: 575.98px) {
  footer .Featured-Links a {
    font-size: 12px;
  }
}

footer .Featured-Links a:hover {
  text-decoration: none;
  opacity: 1;
}

footer .Featured-Links .link-container {
  margin-bottom: 7px;
}

footer .support ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

footer .support ul li {
  margin-bottom: 7px;
}

footer .support ul li a {
  color: #fff;
  font-weight: bold;
  opacity: 0.7;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 16px;
}

@media (max-width: 575.98px) {
  footer .support ul li a {
    font-size: 12px;
  }
}

footer .support ul li a:hover {
  text-decoration: none;
  opacity: 1;
}

footer .copyryht {
  background-color: #c4122e;
  color: #eee;
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 13px;
  margin-top: 10px;
}

body {
  font-family: "Raleway";
  overflow-x: hidden;
}

.btn {
  width: 125px;
  height: 36px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  border-radius: 0px;
}

.btn:hover {
  background-color: transparent !important;
  color: #c4122e;
}

.toggle {
  display: none;
}

.vedio-bike {
  max-width: 100%;
  max-height: 547px;
  overflow: hidden;
  background-color: #222;
  z-index: 2;
}

.vedio-bike video {
  max-width: 100%;
  opacity: 0.5;
}

.vedio-bike .word {
  z-index: 4;
  z-index: 4;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

@media (max-width: 991.98px) {
  .vedio-bike .word {
    line-height: 1.8;
  }
}

@media (max-width: 767.98px) {
  .vedio-bike .word {
    width: 80%;
    top: 45%;
  }
}

@media (max-width: 575.98px) {
  .vedio-bike .word {
    width: 100%;
    top: 28%;
  }
}

.vedio-bike .word h1 {
  font-weight: bold;
}

@media (max-width: 767.98px) {
  .vedio-bike .word h1 {
    font-size: 24px;
  }
}

@media (max-width: 767.98px) {
  .vedio-bike .word h1 {
    font-size: 22px;
  }
}

@media (max-width: 575.98px) {
  .vedio-bike .word h1 {
    font-size: 18px;
  }
}

.vedio-bike .word p {
  font-weight: 400;
}

@media (max-width: 767.98px) {
  .vedio-bike .word p {
    font-size: 16px;
  }
}

@media (max-width: 575.98px) {
  .vedio-bike .word p {
    display: none;
  }
}

.vedio-bike .word a {
  background-color: #c4122e;
}

.servies {
  margin-top: 15px;
  padding-top: 15px;
}

.servies h2 {
  font-weight: bold;
}

@media (max-width: 767.98px) {
  .servies h2 {
    font-size: 24px;
  }
}

@media (max-width: 767.98px) {
  .servies h2 {
    font-size: 22px;
  }
}

@media (max-width: 575.98px) {
  .servies h2 {
    font-size: 18px;
  }
}

.servies h6 {
  font-weight: bold;
  color: #666;
}

@media (max-width: 991.98px) {
  .servies h6 {
    font-size: 18px;
    width: 80%;
    margin: auto;
    margin-bottom: 15px;
  }
}

@media (max-width: 767.98px) {
  .servies h6 {
    font-size: 16px;
    width: 80%;
    margin: auto;
    margin-bottom: 15px;
  }
}

@media (max-width: 575.98px) {
  .servies h6 {
    font-size: 14px;
  }
}

.servies .card-container {
  height: 500px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 575.98px) {
  .servies .card-container {
    max-height: 300px;
    max-width: 100%;
    overflow: hidden;
  }
}

.servies .card-container .btn {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.servies .card-container:hover {
  -webkit-box-shadow: 5px 10px 18px #888888;
          box-shadow: 5px 10px 18px #888888;
  border-top: 5px solid #c4122e;
  -webkit-transform: scale(1.001, 1.001);
          transform: scale(1.001, 1.001);
}

.servies .bike {
  background-image: url("../../../images/bike.jpg");
}

.servies .spectetor {
  background-image: url("../../../images/spectetor.jpg");
}

.servies .Studios {
  background-image: url("../../../images/Studios.jpg");
}

@media (max-width: 991.98px) {
  .servies .bike,
  .servies .spectetor,
  .servies .Studios {
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
  }
}

@media (max-width: 767.98px) {
  .servies .bike,
  .servies .spectetor,
  .servies .Studios {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
  }
}

@media (max-width: 575.98px) {
  .servies .bike,
  .servies .spectetor,
  .servies .Studios {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
  }
}

.Vedio-youtube {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 3px solid #a0a0a0;
}

.Vedio-youtube iframe {
  width: 100%;
  height: 400px;
}

@media (max-width: 575.98px) {
  .Vedio-youtube iframe {
    height: 250px;
  }
}

.brand {
  margin-top: 15px;
  margin-top: 15px;
  padding-top: 15px;
  padding-top: 15px;
  border-top: 3px solid #a0a0a0;
}

.brand h2 {
  margin-bottom: 15px;
  font-weight: bold;
}

@media (max-width: 991.98px) {
  .brand h2 {
    font-size: 24px;
  }
}

@media (max-width: 767.98px) {
  .brand h2 {
    font-size: 22px;
  }
}

@media (max-width: 575.98px) {
  .brand h2 {
    font-size: 18px;
  }
}

.brand img {
  width: 120px;
  height: 120px;
}

.magazein {
  margin-top: 15px;
  padding-bottom: 15px;
  padding-top: 5px;
  background-color: #f9f9f9;
  margin-bottom: 15px;
}

.magazein h2 {
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: bold;
}

@media (max-width: 991.98px) {
  .magazein h2 {
    font-size: 24px;
  }
}

@media (max-width: 767.98px) {
  .magazein h2 {
    font-size: 22px;
  }
}

@media (max-width: 575.98px) {
  .magazein h2 {
    font-size: 18px;
  }
}

@media (max-width: 767.98px) {
  .magazein img {
    margin-bottom: 25px;
  }
}

@media (max-width: 575.98px) {
  .magazein img {
    margin-bottom: 26px;
  }
}

.our-story {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #f9f9f9;
}

@media (max-width: 991.98px) {
  .our-story {
    padding-bottom: 15px;
    border-top: 3px solid #a0a0a0;
    border-bottom: 3px solid #a0a0a0;
  }
}

.our-story h2 {
  font-weight: bold;
}

@media (max-width: 991.98px) {
  .our-story h2 {
    font-size: 24px;
  }
}

@media (max-width: 767.98px) {
  .our-story h2 {
    font-size: 22px;
  }
}

@media (max-width: 575.98px) {
  .our-story h2 {
    font-size: 18px;
  }
}

.our-story h6 {
  margin-bottom: 80px;
  font-weight: bold;
  color: #6666;
}

@media (max-width: 991.98px) {
  .our-story h6 {
    font-size: 18px;
    width: 80%;
    margin: auto;
    margin-bottom: 80px;
  }
}

@media (max-width: 767.98px) {
  .our-story h6 {
    font-size: 16px;
    font-weight: bold;
    max-width: 70%;
    margin: auto;
    margin-bottom: 30px;
  }
}

@media (max-width: 575.98px) {
  .our-story h6 {
    font-size: 14px;
    font-weight: bold;
    max-width: 80%;
    margin: auto;
    margin-bottom: 30px;
  }
}

.our-story .story-section {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4122e;
}

@media (max-width: 767.98px) {
  .our-story .story-section {
    padding-top: 30px;
    height: 250px;
  }
}

@media (max-width: 575.98px) {
  .our-story .story-section {
    padding-top: 30px;
    height: 250px;
  }
}

.our-story .story-section .image {
  position: relative;
  bottom: 60px;
}

@media (max-width: 991.98px) {
  .our-story .story-section .image {
    bottom: 35px;
  }
}

@media (max-width: 767.98px) {
  .our-story .story-section .image {
    position: static;
    overflow: hidden;
  }
}

@media (max-width: 575.98px) {
  .our-story .story-section .image {
    position: static;
    overflow: hidden;
  }
}

.our-story .story-section .image img {
  height: 420px;
  width: 550px;
  border-radius: 6px;
}

@media (max-width: 991.98px) {
  .our-story .story-section .image img {
    height: 370px;
  }
}

@media (max-width: 767.98px) {
  .our-story .story-section .image img {
    max-height: 200px;
    border-radius: 0px;
  }
}

@media (max-width: 575.98px) {
  .our-story .story-section .image img {
    max-height: 200px;
    width: 200px;
    border-radius: 0px;
  }
}

.our-story .story-section .story-section-text {
  position: relative;
  top: 30%;
  left: 34%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  border-bottom: 4px solid #fff;
  font-weight: bold;
}

@media (max-width: 991.98px) {
  .our-story .story-section .story-section-text {
    top: 34%;
    left: 45%;
  }
}

@media (max-width: 767.98px) {
  .our-story .story-section .story-section-text {
    position: static;
    -webkit-transform: none;
            transform: none;
    padding-top: 20px;
  }
}

@media (max-width: 575.98px) {
  .our-story .story-section .story-section-text {
    position: static;
    -webkit-transform: none;
            transform: none;
    padding-top: 20px;
  }
}

@media (max-width: 575.98px) {
  .our-story .story-section .story-section-text h3 {
    font-size: 20px;
  }
}

@media (max-width: 575.98px) {
  .our-story .story-section .story-section-text p {
    font-size: 14px;
    font-weight: 400;
  }
}

.testimonials {
  margin-top: 70px;
  padding-top: 15px;
}

@media (min-width: 0px) and (max-width: 767.89px) {
  .testimonials {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .testimonials {
    margin-top: 20px;
  }
}

.testimonials .seperate {
  width: 100%;
  height: 0px;
  margin-top: 70px;
  margin-bottom: 70px;
  border-top: 5px solid #a0a0a0;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .testimonials .seperate {
    margin-bottom: 45px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .testimonials .seperate {
    display: none;
  }
}

.testimonials h2 {
  margin-bottom: 20px;
  font-weight: bold;
}

@media (max-width: 991.98px) {
  .testimonials h2 {
    font-size: 24px;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .testimonials .testmonial1 {
    margin-bottom: 70px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .testimonials .testmonial2 {
    margin-top: 70px;
  }
}

.testimonials .client-image img {
  width: 100%;
  max-width: 100%;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .testimonials .client-image img {
    margin-top: 74px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .testimonials .client-image img {
    margin-top: 38px;
  }
}

.testimonials .client-testimonial .testimonial-box {
  margin: 40px auto;
  background-color: #f9f9f9;
  position: absolute;
  padding: 0px 10px;
}

.testimonials .client-testimonial .testimonial-box .fa-quote-left,
.testimonials .client-testimonial .testimonial-box .fa-quote-right {
  position: relative;
  color: #c4122e;
}

.testimonials .client-testimonial .testimonial-box .fa-quote-left {
  top: -17px;
  left: -10px;
}

.testimonials .client-testimonial .testimonial-box .fa-quote-right {
  top: 20px;
  right: -322px;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .testimonials .client-testimonial .testimonial-box .fa-quote-right {
    right: -183px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .testimonials .client-testimonial .testimonial-box .fa-quote-right {
    right: -263px;
  }
}

.testimonials .client-testimonial .testimonial-box p {
  color: #222;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .testimonials .client-testimonial .testimonial-box p {
    font-size: 12px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .testimonials .client-testimonial .testimonial-box p {
    font-size: 14px;
  }
}

.testimonials .client-testimonial .testimonial-box .separates-testmonials-name {
  width: 100%;
  height: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-top: 2px solid #c4122e;
  display: inline-block;
}

.testimonials .client-testimonial .testimonial-box .name {
  font-weight: bolder;
  color: #c4122e;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .testimonials .client-testimonial .testimonial-box .name {
    margin-bottom: 0px;
  }
}

.testimonials .client-rate {
  margin-left: 20px;
}

.testimonials .client-rate .rate-box:first-child {
  margin-top: 50px;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .testimonials .client-rate .rate-box:first-child {
    margin-top: 60px;
  }
}

.testimonials .client-rate .rate-box {
  border-bottom: 5px solid #c4122e;
  margin-top: 32px;
}

.testimonials .client-rate .rate-box .h4 {
  margin-right: 20px;
  display: inline-block;
  width: 260px;
  font-weight: bold;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .testimonials .client-rate .rate-box .h4 {
    width: 70%;
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .testimonials .client-rate .rate-box .h4 {
    width: 70%;
    font-size: 12px;
  }
}

.testimonials .client-rate .rate-box span {
  font-weight: bold;
  font-size: 20px;
  color: #c4122e;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .testimonials .client-rate .rate-box span {
    width: 30%;
    font-size: 12px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .testimonials .client-rate .rate-box span {
    width: 30%;
  }
}
/*# sourceMappingURL=home.css.map */