@import url("https://fonts.gstatic.com/s/raleway/v18/1Ptug8zYS_SKggPNyCkIT5lu.woff2");
/*

// X-Small devices (portrait phones, less than 576px)
@media (max-width:$phone ) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: $landscape) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: $tablets) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: $desktop) { ... }

// X-Large devices (large desktops, less than 1400px)
@media (max-width: $Extra-large) { ... }

*/
body {
  font-family: "Raleway";
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #f9f9f9;
}

.btn {
  width: 125px;
  height: 36px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  border-radius: 0px;
  background-color: #c4122e;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.btn:hover {
  background-color: transparent !important;
  color: #c4122e !important;
  font-weight: 900;
}

.container-fluid {
  max-width: 100% !important;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

.background {
  width: 100%;
  min-height: 700px;
  background-color: #c4122e;
  -webkit-clip-path: polygon(0 0, 43% 0, 61% 100%, 0% 100%);
          clip-path: polygon(0 0, 43% 0, 61% 100%, 0% 100%);
}

.Register-page .nav-bar-links {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.Register-page .nav-bar-links .navbar-brand {
  color: #fff;
  font-size: 30px;
  font-family: cursive;
  letter-spacing: -2.9px;
  font-weight: bolder;
  text-align: left !important;
  margin-left: 35px;
}

@media (max-width: 575.98px) {
  .Register-page .nav-bar-links .navbar-brand {
    font-size: 26px;
    margin-left: 19px;
  }
}

.Register-page .nav-bar-links .login {
  float: right;
  margin: 10px 10px 0px;
  color: #fff;
  border-radius: 6px;
}

@media (max-width: 991.98px) {
  .regester-word {
    color: #eee;
  }
}

.intro-regester {
  position: absolute;
  top: 9%;
  right: 14%;
  color: #c4122e !important;
}

.intro-regester h3 {
  font-weight: bolder;
  font-size: 30px;
  font-family: cursive;
  letter-spacing: -2px;
}

.regester-form {
  position: absolute;
  top: 34%;
  right: 11.5%;
}

.regester-form input {
  display: block;
  outline: none;
  padding: 6px 7px;
  border: 1.5px solid #a0a0a0;
  width: 350px;
  color: #3f3b3b;
  font-size: 16px;
  border-radius: 6px;
  background: #f9f9f9;
  margin-bottom: 20px;
  font-weight: bold;
}

.regester-form input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.regester-form .password {
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.regester-form .password .show-hide {
  position: absolute;
  top: 13px;
  right: 20px;
  font-size: 16px;
  color: #aaa;
}

.regester-form .password .fa-eye {
  display: none;
}

.regester-form .password .show-hide:hover {
  cursor: pointer;
  color: #c4122e;
}

.regester-form .or .or-text {
  font-weight: 14px;
  color: #a0a0a0;
  z-index: 20;
}

.regester-form .or .or-text:before {
  content: "";
  width: 166px;
  height: 0.5px;
  background-color: #a0a0a0;
  position: absolute;
  left: -2px;
  bottom: 81px;
  z-index: 1;
}

.regester-form .or .or-text:after {
  content: "";
  width: 170px;
  height: 0.5px;
  background-color: #a0a0a0;
  position: absolute;
  right: -3px;
  bottom: 81px;
  z-index: -1;
}

.regester-form .social-icons {
  margin-top: 20px;
}

.regester-form .social-icons a {
  background-color: #c4122e;
  border-radius: 50%;
  display: inline-block;
  width: 50px;
  height: 50px;
  color: #fff;
  margin-left: 4px;
  padding-top: 9px;
  opacity: 0.7;
  -webkit-transition: color 0.1s, background-color 0.4s, opacity 1s;
  transition: color 0.1s, background-color 0.4s, opacity 1s;
}

.regester-form .social-icons a svg {
  font-size: 2em;
}

.regester-form .social-icons a:hover {
  opacity: 1;
}

.regester-form .social-icons .twitter:hover {
  background-color: #1da1f2;
}

.regester-form .social-icons .facebook:hover {
  background-color: #3c5a99;
}

.regester-form .social-icons .google:hover {
  background-color: #fff;
}

.regester-form .social-icons .google:hover .fa-google-plus-g {
  color: #fb000f;
}
/*# sourceMappingURL=register.css.map */