
@import url('https://fonts.gstatic.com/s/raleway/v18/1Ptug8zYS_SKggPNyCkIT5lu.woff2') ;

$heading-padding-top: 15px;
$heading-padding-bottom: 15px;
$heading-margin-top: 15px;
$heading-margin-bottom: 15px;